# Dataset subset extraction

In [6]:
import pandas as pd

In [7]:
accepted = pd.read_csv('./lending_data/accepted.csv', low_memory=False)
accepted.head().transpose()

                              0         1         2         3         4
id                     68407277  68355089  68341763  66310712  68476807
member_id                   NaN       NaN       NaN       NaN       NaN
loan_amnt                3600.0   24700.0   20000.0   35000.0   10400.0
funded_amnt              3600.0   24700.0   20000.0   35000.0   10400.0
funded_amnt_inv          3600.0   24700.0   20000.0   35000.0   10400.0
...                         ...       ...       ...       ...       ...
settlement_status           NaN       NaN       NaN       NaN       NaN
settlement_date             NaN       NaN       NaN       NaN       NaN
settlement_amount           NaN       NaN       NaN       NaN       NaN
settlement_percentage       NaN       NaN       NaN       NaN       NaN
settlement_term             NaN       NaN       NaN       NaN       NaN

[151 rows x 5 columns]

In [8]:
n = len(accepted) * 0.20
small_accepted = accepted.sample(int(n))
len(small_accepted)

452140

In [9]:
small_accepted.to_csv('./lending_data/small_accepted.csv', index=False)