# Курсач

## Чтение данных

In [1]:
import pandas as pd

In [2]:
accepted = pd.read_csv('./lending_data/small_accepted.csv', low_memory=False)
accepted.head().transpose()

                              0         1         2          3         4
id                     60803017  68599414  15500352  119362175  72133872
member_id                   NaN       NaN       NaN        NaN       NaN
loan_amnt               12000.0    9000.0   24000.0    13000.0    2800.0
funded_amnt             12000.0    9000.0   24000.0    13000.0    2800.0
funded_amnt_inv         12000.0    9000.0   24000.0    13000.0    2800.0
...                         ...       ...       ...        ...       ...
settlement_status           NaN       NaN       NaN        NaN       NaN
settlement_date             NaN       NaN       NaN        NaN       NaN
settlement_amount           NaN       NaN       NaN        NaN       NaN
settlement_percentage       NaN       NaN       NaN        NaN       NaN
settlement_term             NaN       NaN       NaN        NaN       NaN

[151 rows x 5 columns]

In [3]:
for col in accepted.columns:
    print(f'- {col}')

- id
- member_id
- loan_amnt
- funded_amnt
- funded_amnt_inv
- term
- int_rate
- installment
- grade
- sub_grade
- emp_title
- emp_length
- home_ownership
- annual_inc
- verification_status
- issue_d
- loan_status
- pymnt_plan
- url
- desc
- purpose
- title
- zip_code
- addr_state
- dti
- delinq_2yrs
- earliest_cr_line
- fico_range_low
- fico_range_high
- inq_last_6mths
- mths_since_last_delinq
- mths_since_last_record
- open_acc
- pub_rec
- revol_bal
- revol_util
- total_acc
- initial_list_status
- out_prncp
- out_prncp_inv
- total_pymnt
- total_pymnt_inv
- total_rec_prncp
- total_rec_int
- total_rec_late_fee
- recoveries
- collection_recovery_fee
- last_pymnt_d
- last_pymnt_amnt
- next_pymnt_d
- last_credit_pull_d
- last_fico_range_high
- last_fico_range_low
- collections_12_mths_ex_med
- mths_since_last_major_derog
- policy_code
- application_type
- annual_inc_joint
- dti_joint
- verification_status_joint
- acc_now_delinq
- tot_coll_amt
- tot_cur_bal
- open_acc_6m
- open_act_il
- open_il_12m
- open_il_24m
- mths_since_rcnt_il
- total_bal_il
- il_util
- open_rv_12m
- open_rv_24m
- max_bal_bc
- all_util
- total_rev_hi_lim
- inq_fi
- total_cu_tl
- inq_last_12m
- acc_open_past_24mths
- avg_cur_bal
- bc_open_to_buy
- bc_util
- chargeoff_within_12_mths
- delinq_amnt
- mo_sin_old_il_acct
- mo_sin_old_rev_tl_op
- mo_sin_rcnt_rev_tl_op
- mo_sin_rcnt_tl
- mort_acc
- mths_since_recent_bc
- mths_since_recent_bc_dlq
- mths_since_recent_inq
- mths_since_recent_revol_delinq
- num_accts_ever_120_pd
- num_actv_bc_tl
- num_actv_rev_tl
- num_bc_sats
- num_bc_tl
- num_il_tl
- num_op_rev_tl
- num_rev_accts
- num_rev_tl_bal_gt_0
- num_sats
- num_tl_120dpd_2m
- num_tl_30dpd
- num_tl_90g_dpd_24m
- num_tl_op_past_12m
- pct_tl_nvr_dlq
- percent_bc_gt_75
- pub_rec_bankruptcies
- tax_liens
- tot_hi_cred_lim
- total_bal_ex_mort
- total_bc_limit
- total_il_high_credit_limit
- revol_bal_joint
- sec_app_fico_range_low
- sec_app_fico_range_high
- sec_app_earliest_cr_line
- sec_app_inq_last_6mths
- sec_app_mort_acc
- sec_app_open_acc
- sec_app_revol_util
- sec_app_open_act_il
- sec_app_num_rev_accts
- sec_app_chargeoff_within_12_mths
- sec_app_collections_12_mths_ex_med
- sec_app_mths_since_last_major_derog
- hardship_flag
- hardship_type
- hardship_reason
- hardship_status
- deferral_term
- hardship_amount
- hardship_start_date
- hardship_end_date
- payment_plan_start_date
- hardship_length
- hardship_dpd
- hardship_loan_status
- orig_projected_additional_accrued_interest
- hardship_payoff_balance_amount
- hardship_last_payment_amount
- disbursement_method
- debt_settlement_flag
- debt_settlement_flag_date
- settlement_status
- settlement_date
- settlement_amount
- settlement_percentage
- settlement_term

## Обработаем признаки

### Удалим колонки с уникальными идентификаторами

- `id` - уникальный идентификатор кредита, для каждого платежа новый
- `member_id` - уникальный идентификатор кредитора.

In [5]:
unique_id_cols = [
    'id',
    'member_id'
]
accepted.drop(columns = unique_id_cols, inplace=True)

### Выбросим все колонки, приводящие к утечке таргета

- `funded_amnt` - Отражает информацию о выплаченной сумме у завершенных кредитов.
- `funded_amnt_inv` - Отражает информацию о выплаченной сумме у завершенных кредитов, для части от инвесторов.
- `out_prncp` - Отражает информацию о оставшейся к выплате суммы.
- `out_prncp_inv`- Отражает информацию о оставшейся к выплате суммы, для части от инвесторов.
- `total_pymnt` - Обьем уже полученных платежей.
- `total_pymnt_inv` - Обьем уже полученных платежей, для части от инвесторов.
- `total_rec_prncp` - 
- `total_rec_int` - Обьем выплаченных процентов по кредиту.
- `total_rec_late_fee` - Обьем пени за просрочку по кредиту.
- `recoveries` - 
- `collection_recovery_fee`
- `last_pymnt_d`
- `last_pymnt_amnt`

In [ ]:
leak_cols = [
    'funded_amnt', # Leaks
    'funded_amnt_inv', # Leaks
    'out_prncp', # leaks
    'out_prncp_inv', # leaks
    'total_pymnt', # Leaks
    'total_pymnt_inv', # Leaks
    'total_rec_prncp', # Leaks
    'total_rec_int', # Leaks
    'total_rec_late_fee', # Leaks
    'recoveries', # Leaks
    'collection_recovery_fee', # Leaks
    'last_pymnt_d', # Leaks
    'last_pymnt_amnt' # Leaks
]

accepted.drop(columns = leak_cols, inplace=True)
accepted.head().transpose()

Выбросим все колонки, дублирующие данные

In [ ]:
redundand_cols = [
    'sub_grade', # Redundand
    'int_rate', # redundant 
    'zip_code', # redundant
    'url',
]
accepted.drop(columns = redundand_cols, inplace=True)